# すべて無視
*

# .gitignore 自体はGitに含める
!.gitignore

# php05ディレクトリとその中身を含める
!php05/
!php05/**

# # すべての画像ファイルを無視
# src/php02/img/

# # すべての CSS ファイルを無視
# *.css

# # php03 ディレクトリだけを無視
# src/php03/

# # 一時ファイルやOS特有のファイルを無視
# *.log
# .DS_Store
# Thumbs.db