.result__content {
    margin: 0 auto;
    padding: 60px 15px;
    max-width: 1230px;
}

.result {
    text-align: center;
}

.result__text--correct {
    color: #ff0000;
}

.result__text--incorrect {
    color: #0000ff;
}

.answer-table {
    /* 短縮記法(ショートハンド) */
    border: 1px solid #add;
    /* 個別指定(ロングハンド) */
    /* border-width: 1px; */
    /* border-style: solid; */
    /* border-color: #add; */
    /* と同じ意味になる */
}

.answer-table__inner {
    width: 100%;
}

.answer-table__header {
    padding: 15px;
    width: 20%;
    border-bottom: 1px solid #add;
    background-color: #eee;
    font-weight: bold;
}

.answer-table__text {
    padding: 15px;
    border-bottom: 1px solid #add;
}

.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
    border-bottom-width: 0;
}

